# =========================
# Large EO datasets (local)
# =========================
data/
notebooks/week1/output/
notebooks/week3/data/

# Raster / EO formats
*.tif
*.tiff
*.jp2
*.nc
*.zarr

# ML / Python
__pycache__/
.ipynb_checkpoints/

# VS Code / OS
.vscode/
.DS_Store
